{% extends "base.html" %}
{% block title %}Artist Results{% endblock %}
{% block content %}
<body>
<style>
  h1 {text-align: center; padding: 100px; text-colour: #123456;}
  body {padding: 5px; text-align: center;}
  th {padding: 5px; text-align: center;}
  table {margin-left: auto; margin-right: auto; text-align: center;}
</style>
<a>Hello This is where the album data will go</a>
{{ album.strAlbum }}
{{ album.intYearReleased }}
{{ album.idAlbum }}

<!-- need to route the album data to this page -->

</body>
{% endblock %}
```
